<div class="event">    
    <div class="content">
        <div class="date">
            <%= time_ago_in_words(message.created_at) %> ago
        </div>
        <div class="summary">
            <%= link_to message.user.username, '#' %> : <%= message.body %>
        </div>
    </div>
</div>