<h2 class="ui center aligned icon header">
  <i class="circular green envelope outline icon"></i>
  Chat room
</h2>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui large feed">
                <div class="event">
                    <div class="label">
                    <img src="/images/avatar/small/helen.jpg">
                    </div>
                    <div class="content">
                    <div class="date">
                        3 days ago
                    </div>
                    <div class="summary">
                        <a>Helen Troy</a> added 2 photos
                    </div>
                    <div class="extra images">
                        <a><img src="/images/wireframe/image.png"></a>
                        <a><img src="/images/wireframe/image.png"></a>
                    </div>
                    </div>
                </div>
                <div class="event">
                    <div class="label">
                    <img src="/images/avatar/small/laura.jpg">
                    </div>
                    <div class="content">
                    <div class="date">
                        3 days ago
                    </div>
                    <div class="summary">
                        <a>Laura Faucet</a> created a post
                    </div>
                    <div class="extra text">
                        Have you seen what's going on in Israel? Can you believe it.
                    </div>
                    </div>
                </div>
            </div>

            

        </div>
        <div class="extra content">
            <form action="" class="ui reply form">
                <div class="field">
                    <div class="ui fluid icon input">
                        <input type="text" placeholder="Write your message...">
                        <i class="bordered inverted green edit icon"></i>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

<div class="four wide column">
    <div class="ui fluid raised card chatbox">
        <div class="content">
            <div class="ui inverted vertical menu">
                <a href="" class="item">Mensajes</a>
                <a href="" class="item">Amigos</a>
                <a href="" class="item">Placeholder 1</a>
                <a href="" class="item">Placeholder 2</a>
            </div>
        </div>
    </div>
</div>
</div>


